# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Git
.git

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Local envs and secrets
.env

# Build
dist/
build/
